@import "../../Pager.scss";

.layout--outline__violet {
  background-color: $layout--outline__color;
  top: 0px;
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  .layout--outline__inlineB__children {
    // background-color: rgb(172, 246, 246);
    padding: 150px 50px 50px 0px;
    justify-content: center;
    margin-top: $header__height;
    margin-bottom: $footer__height;
    margin-left: 30px;
    margin-right: 30px;
  }
}
