
.layout--outline__violet {
  background-color: #dbd0e6;
  top: 0px;
  height: 100vh;
}

.layout--outline__inlineB__children {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 0px 0px 113px 0px;  // Optimized for MUI.
}


// .aaaccc {
//   background-color: aqua;
//   margin: 510px 50px 50px 50px;

// }