

// outline color control

@mixin background_test_color {
    background-color: #f8b500;   //for test
}

@mixin commonPageOutlines {
    height: auto;
    width: auto;
    float: both;
    // margin: 70px 0px 30px 0px;
    margin: auto;
    background-color: rgb(167, 167, 167);
}




$color-header: #bed2c3;