

// outline color control


$NewsBackgroundColor: #bed2c3;
$ProductsBackgroundColor: #bed2c3;
$TestPageBackgroundColor: #bed2c3;
$PricingBackgroundColor: #bed2c3;
$MainBackgroundColor: #bed2c3;
$AgreementBackgroundColor: #bed2c3;
$UserGuideBackgroundColor: #bed2c3;
$SignUpBackgroundColor: #bed2c3;
$MyPageBackgroundColor: #bed2c3;
$ContactBackgroundColor: #bed2c3;
$RecruitBackgroundColor: #bed2c3;
$CompanyBackgroundColor: #bed2c3;
$PrivacyBackgroundColor: #bed2c3;



@mixin commonTestpageOutlines {
    height: 1200px;
    width: auto;
    margin-top: 0px auto;
    // background-color: rgb(167, 167, 167);  // For test
    // border: 5px dotted #4097a7;  // For test
  }
  
  @mixin commonTestpageInlines {
    height: 400px;
    width: 900px;
    // float: both;
    margin: 50px auto;
    // padding: 9px 0px 99px 0px;
    padding: 50px;
    // margin: auto;
    // border: 5px dotted #d16363;  // For test
    // background-color: rgb(233, 185, 185);  // For test
    opacity: 0.5;
  }
  



