.flex-list {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  margin:  0px auto;
  // padding: 0;
  list-style: none;
}

.mainOutline {
  height: 800px;
  width: auto;
  top: 0px;
  position: absolute;
  // margin: 0px 0px 30px 0px;
  // font-size: 15px;
  background-color: #c5d159;
}

.mainText {
  float: none;
  color: rgb(0, 0, 0);
//top: 0px;
  padding: 100px 0px 0px 0px;
  margin: 0px 3px 35px 0px;
  cursor: pointer;
}

.LayoutOutline {
  background-color: rgb(197, 187, 255);
  top: 0px;
}