.App-link {
    // color: #61dafb;
    text-decoration:underline;
  }

.aaa {
  height: 500px;
  width: auto;
  margin: 55px 0px 30px 0px;
  // font-size: 15px;
  background-color: #c1e4e9;
}

.Main_text_a {
  color: rgb(0, 0, 0);
//top: 0px;
  padding: 0px 0px 0px 0px;
  margin: 35px 3px 35px 0px;
  cursor: pointer;
}