// @import "./Management.scss";    // 全体管理用scssファイルを読み込み
@import "../../Pager.scss";

//--- Common Declarations -----------------------------------------

@mixin commonTestpageOutlines {
  height: 1200px;
  width: auto;
  margin-top: 0px auto;
  // background-color: rgb(167, 167, 167);  // For test
  // border: 5px dotted #4097a7;  // For test
}

@mixin commonTestpageInlines {
  height: 400px;
  width: 900px;
  // float: both;
  margin: 50px auto;
  // padding: 9px 0px 99px 0px;
  padding: 50px;
  // margin: auto;
  // border: 5px dotted #d16363;  // For test
  // background-color: rgb(233, 185, 185);  // For test
  opacity: 0.5;
}

@mixin background_test_color {
  background-color: #f8b500;   //for test
}

//--- Test Page Outline ----------------------------------------
.TestPageOutline {
  @include commonTestpageOutlines;
}

//--- Test Page Inline -----------------------------------------
.TestPageInlines {
  @include commonTestpageInlines;
}

.templete_text {
  height: auto;
  width: auto;
  margin: 10px 30px 10px 30px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(81, 81, 81);
  border-radius: 30px;
}

.icon-beginner {
  float: left;
  width: 21px;
//margin: 2px 0px 0px 0px;
  padding-top:2px;
  padding-bottom: 9px;
  margin:13px 3px 0px 13px;
  cursor: pointer;
}

.Products_text_a {
  color: rgb(0, 0, 0);
//top: 0px;
  padding: 0px 0px 0px 0px;
  margin: 35px 3px 35px 0px;
  cursor: pointer;
}
