@import "../tmps/TestPage.scss";

//--- Common Declarations -----------------------------------------
@mixin footerText {
  margin: 300px 3px 3px 30px;
  color: rgb(26, 24, 24);
  padding: 150px 0px 10px 0px;
  text-decoration: none;
  text-shadow: 1px 2px 3px #808080;
  cursor: pointer;
  // font-weight: bold;
}

//--- Header Outline ----------------------------------------------
.footerOutline {
  height: 99px;
  padding: 80px 0;
  float: inline-end;
  background-color: rgba(255,255,255,0.2);     //新規導入すりガラスエフェクト！！！
  backdrop-filter:blur(8px);                     //新規導入すりガラスエフェクト！！！
  filter: drop-shadow(3px 3px 9px rgba(0,0,0,0.6));
}

//--- Logo --------------------------------------------------------
.footerLogo {
  // display: inline-block;
  background-color: #5459546a;
  height: 150px;
  width: 200px;
  float: left;
  img {
    height: 20px;
  }
}

//--- Left menu　---------------------------------------------------
.footerLeft {
  display: inline-block;
  img {
    height: 20px;
  }
  p {
    color: #b1c0c0;
    font-size: 12px;
  }
}

//---Center area ----------------------------------------------------
.footerCenter {
  @include background_test_color;
}

//--- Right menu ----------------------------------------------------
.footerRight {
  display: flex;
  flex-direction: column;
  float: right;
  margin: 15px;
  padding: 15px;
  line-height: 2.0;
  // text-decoration: none;
  // @include background_test_color;
  .footerText {
    @include footerText;
  }
}

.footer-inner {
  margin: 0 auto;
  ul {
    float: right;
  }
  li {
    color: #2b546a;
    display: inline-block;
    padding-left: 16px;
  }
}

// .footer_right {
  
// }
