// @import "./Management.scss";    // 全体管理用scssファイルを読み込み

.footer {
  background-color: aqua;
  padding: 80px 0;
}

.footer-inner {
  max-width: 1040px;
  margin: 0 auto;
  ul {
    float: right;
  }
  li {
    color: #2b546a;
    display: inline-block;
    padding-left: 16px;
  }
}

.footer-logo {
  display: inline-block;
  img {
    height: 20px;
  }
  p {
    color: #b1c0c0;
    font-size: 12px;
  }
}
