@import "./TestPage.scss";
@import "../../Pager.scss";


//--- Common Declarations -----------------------------------------
@mixin footerText {
  // margin: 300px 3px 3px 30px;
  color: rgb(26, 24, 24);
  // padding: 150px 0px 10px 0px;
  text-decoration: none;
  text-shadow: 1px 2px 3px #808080;
  cursor: pointer;
  // font-weight: bold;
}

//--- Footer Outline ----------------------------------------------
.footerOutline {
  height: 99px;
  padding-bottom: 43px;
  // float: inline-end;
  width: 100%;
  bottom: 0;
  position: fixed;
  @include FrostedGlass;
}

//--- Logo --------------------------------------------------------
.footerLogo {
  // display: inline-block;
  background-color: #5459546a;
  height: 150px;
  width: 200px;
  // float: left;
  img {
    height: 20px;
  }
}

//--- Left menu　---------------------------------------------------
.footerLeft {
  display: inline-block;
  img {
    height: 20px;
  }
  p {
    color: #b1c0c0;
    font-size: 12px;
  }
}

//---Center area ----------------------------------------------------
.footerCenter {
  @include background_test_color;
}

//--- Right menu ----------------------------------------------------
.footerRight {
  width: 50%;
  height: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 42px 0px 4px;
  line-height: 2.0;
  text-align: center;
  // text-decoration: none;
  // @include background_test_color;
  .footerText {
    @include footerText;
  }
}

.footer_flex {
  display: flex;
  justify-content: space-between;
}


.footer-inner {
  margin: 0 auto;
  ul {
    float: right;
  }
  li {
    color: #2b546a;
    display: inline-block;
    padding-left: 16px;
  }
}

// .footer_right {
  
// }

.Signature {
  background-color: #84a2d4;
  bottom: 0;
  height: 30px;
}
