@import "../../Pager.scss";

.leaflet-container {
  width: 100%;
  height: 100vh;
  margin: auto;
  pointer-events: none;
  z-index: 1;
  position: relative;
  // .leaflet-top{
  //   display: none;
  // }
}
