@import "../../Pager.scss";

//--- Common Declarations -----------------------------------------

//--- Page Outline ------------------------------------------------
// .Coordinate--outline {
//   @include page--outline;
// }
//--- Page Inline -------------------------------------------------
.coordinate--sectionA__provider {
//   width: 100%;
//   height: 100%;
  width: 1000px;
  height: 1000px;
  margin: -100px 0px 0px 0px;
}

// .coordinate--sectionB__user {
//   @include coordinate--sectionB__user;
// }

.Coordinate__textA {
  @include page__textA;
}

.Coordinate__textS {
  @include page__textS;
}
