@import "../../Pager.scss";

//--- Common Declarations -----------------------------------------
@mixin footer__Text {
  // margin: 300px 3px 3px 30px;
  color: rgb(26, 24, 24);
  // padding: 150px 0px 10px 0px;
  text-decoration: none;
  text-shadow: 1px 2px 3px #808080;
  cursor: pointer;
  // font-weight: bold;
}

//--- Definition of outermost area ---------------------------------
.footer--Outline {
  display: flex;
  flex-direction: column;
  width: 100%;
  // padding-bottom: 43px;
  float: inline-end;
  // bottom: 0;
  // position: fixed;
  position: bottom;
  @include footer__height;
  @include frostedglass;
}

//--- Definition of intermediate areas ----------------------------
.footer--inlineA {
  display: flex;
  height: 173px;
  justify-content: space-between;
}

// Signeture area
.footer--InlineB__signeture {
  // background-color: #84a2d4;
  bottom: 0;
  margin: 0px;
  height: 45px;
  p {
    margin: 0px;
    @include footer__Text;
  }
}

//--- Definition of internal areas -------------------------------
// Logo area
.footer--inlineA--sectionA_logo {
  margin: 43px 0px 0px 29px;
  float: left;
  height: 59px;
  width: 58px;
  .logoInline {
    height: 90px;
  }
}

.footer--inlineA--sectionB__blank {
  @include background__testcolor;
}

.footer--inlineA--sectionC__blank {
  @include background__testcolor;
}

.footer--inlineA--sectionD__text {
  width: 20%;
  height: 10px;
  display: flex;
  flex-direction: column;
  margin: 33px 29px 0px 0px;
  line-height: 2.0;
  text-align: center;
  // text-decoration: none;
  // @include background__testcolor;
  .footer__Text {
    @include footer__Text;
  }
}
