@import "../../Pager.scss";

//--- Common Declarations -----------------------------------------
@mixin footer__Text {
  // margin: 300px 3px 3px 30px;
  color: rgb(26, 24, 24);
  // padding: 150px 0px 10px 0px;
  text-decoration: none;
  text-shadow: 1px 2px 3px #808080;
  cursor: pointer;
  // font-weight: bold;
}

//--- Definition of outermost area ---------------------------------
.footer--Outline {
  display: flex;
  flex-direction: column;
  height: 199px;
  // padding-bottom: 43px;
  // float: inline-end;
  width: 100%;
  bottom: 0;
  position: fixed;
  @include FrostedGlass;
}

//--- Definition of intermediate areas ----------------------------
.footer--InlineA {
  display: flex;
  height: 156px;
  justify-content: space-between;
}

// Signeture area
.footer--InlineB__signeture {
  background-color: #84a2d4;
  bottom: 0;
  height: 25px;
}

//--- Definition of internal areas -------------------------------
// Logo area
.footer--InlineA--SectionA_logo {
  margin-left: 7px;
  float: left;
  height: 59px;
  width: 58px;
}

.footer--InlineA--SectionB__blank {
  @include background_test_color;
}

.footer--InlineA--SectionC__blank {
  @include background_test_color;
}

.footer--InlineA--SectionD__text {
  width: 20%;
  height: 10px;
  display: flex;
  flex-direction: column;
  margin: 18px 29px 0px 0px;
  line-height: 2.0;
  text-align: center;
  // text-decoration: none;
  // @include background_test_color;
  .footer__Text {
    @include footer__Text;
  }
}
