@import "../../Pager.scss";

//--- Common Declarations -----------------------------------------
@mixin footer__Text {
  // margin: 300px 3px 3px 30px;
  color: rgb(26, 24, 24);
  // padding: 150px 0px 10px 0px;
  text-decoration: none;
  text-shadow: 1px 2px 3px #808080;
  cursor: pointer;
  // font-weight: bold;
}

@mixin footer__text__label {
  // margin: 300px 3px 3px 30px;
  color: rgb(26, 24, 24);
  // padding: 150px 0px 10px 0px;
  text-decoration: none;
  text-shadow: 1px 2px 3px #808080;
  font-weight: bold;  // もっと太くしたい
}

@mixin footer--inlineA--section {
  width: 9%;
  height: 10px;
  display: flex;
  flex-direction: column;
  // margin: 33px 29px 0px 0px;
  line-height: 1.4;
  text-align: center;
  margin: 15px 21px 5px 0px;
  // text-decoration: none;
  // @include background__testcolor;
  .footer__Text {
    @include footer__Text;
  }
}

//--- Definition of outermost area ---------------------------------
.footer--Outline {
  display: flex;
  flex-direction: column;
  width: 100%;
  // padding-bottom: 43px;
  // bottom: 0;
  // position: fixed;
  // padding: 0px 10px;
  height: $footer__height;
  // top: 100vh;
  position: absolute;
  bottom: 0;
  @include frostedglass;
}

//--- Definition of intermediate areas ----------------------------
.footer--inlineA {
  display: flex;
  height: 173px;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer--Outline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    @include frostedglass;
  }
  .footer--inlineA {
    display: flex;
    flex-direction: column;
  }
}


// Signeture area
.footer--InlineB__signeture {
  // background-color: #84a2d4;
  bottom: 0;
  margin: 0px;
  height: 35px;
  p {
    margin-top: 30px;
    @include footer__Text;
  }
}

//--- Definition of internal areas -------------------------------

.footer--inlineA--sectionY__blank {
  height: auto;
  width: 8%;
}

// Logo area
.footer--inlineA--sectionA_logo {
  margin: 43px 0px 0px 90px;
  float: left;
  height: 100px;
  width: 10%;
  .logoInline {
    height: 90px;
  }
}

.footer--inlineA--sectionB__blank {
  @include footer--inlineA--section;
  p {
    @include footer__text__label;
  }
}

.footer--inlineA--sectionC__blank {
  @include footer--inlineA--section;
  p {
    @include footer__text__label;
  }
}

.footer--inlineA--sectionD__text {
  @include footer--inlineA--section;
  p {
    @include footer__text__label;
  }
}

.footer--inlineA--sectionE__text {
  @include footer--inlineA--section;
  p {
    @include footer__text__label;
  }
}

.footer--inlineA--sectionZ__blank {
  height: auto;
  width: 11%;
}