@import "../../Pager.scss";

//--- Common Declarations -----------------------------------------


//--- Definition of outermost area ---------------------------------
.header--outline {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 69px;
  width: 100%;
  // background-color: $color-header;
  @include frostedglass;
}

//--- Definition of internal areas -------------------------------
//  Logo
.header--sectionA__logo {
  // @include background__testcolor;
  margin: 7px 0px 0px 15px;
  // float: left;
  height: 69px;
  width: 8%;
}

.header--sectionB__button {
  // padding-left: 5px;
  // float: left;
  //display: table-cell;
  margin: 22px 0px 0px 0px;
  width: 22%;
  .header__text {
    @include header__text;
  }
}

.header--sectionC__searchbox {
  // background-color: aqua;
  margin: 7px 33px 6px 33px
  // width: 30px;
  // margin: 18px 0px 0px 0px;
  // @include background__testcolor;
  // p {
  //   @include header__text;
  // }
}

.header--sectionD__button {
  display: flex;
  // @include background__testcolor;
  // float: right;
  padding: 0px;
  margin: 22px 110px 0px 0px;
  width: 30%;
  .header__text {
    @include header__text;
  }
}
