@import "../../Pager.scss";

.header--outline {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: $header__height;
  // @include header__height;
  width: 100%;
  background-color: $color-header;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
  // @include frostedglass;
}

.header--sectionA {
  display: flex;
  margin: 0px 0px 0px 15px;
  height: $header__height;
  width: 30%;
}

.header--sectionA--boxA__logo {
  // @include background__testcolor;
  margin: 7px 0px 0px 15px;
  // float: left;
  height: $header__height;
  width: 19%;
}

.header--sectionA--boxB__button {
  // padding-left: 5px;
  // float: left;
  //display: table-cell;
  margin: 25px 0px 0px 0px;
  width: 22%;
  .header__text {
    @include header__text;
  }
}

.header--sectionB__searchbox {
  // background-color: aqua;
  margin: 7px 33px 6px 33px
  // width: 30px;
  // margin: 18px 0px 0px 0px;
  // @include background__testcolor;
  // p {
  //   @include header__text;
  // }
}

.header--sectionC__button {
  display: flex;
  // @include background__testcolor;
  // float: right;
  padding: 0px;
  margin: 25px 110px 0px 0px;
  width: 30%;
  .header__text {
    @include header__text;
  }
}
