@import "../../Pager.scss";

//--- Common Declarations -----------------------------------------

//--- Page Outline ------------------------------------------------
.page404--outline {
  @include page--outline;
  // background-color: rgb(107, 255, 255)
  // background-color: $NewsBackgroundColor;
}
//--- Page Inline -------------------------------------------------
.page404--inlineA {
  @include page--inlineA;
}

.page404__textA {
  padding-top: 254px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(25, 66, 248);
  opacity: 0.6;
}

.page404__textS {
  @include page__textS;
}
