@import "../../Pager.scss";

// // p43
// $main__color: #f18d09;
// $sub__color: #fac112;
// $base__color: #fcf8d4;
// $accent__color: #474b4b;

// // p105
// $main__color: #a6c3ac;
// $sub__color: #eee2d3;
// $base__color: #eaf3d7;
// $accent__color: #8f7e61;

// p65
$main__color: #cf5e37;
$sub__color: #bfa679;
$base__color: #f6edec;
$accent__color: #003268;

// // p169
// $main__color: #bfbcd8;
// $sub__color: #d1cfbf;
// $base__color: #dfe4ec;
// $accent__color: #61616d;


.sitetop--outline {
  @include page--outline;
  display:flex;
  flex-flow: column;

  .sitetop--inlineA {
    display: flex;
    // background-color: aquamarine;
    height: 33.33%;
    width: 100%;
    .sitetop--inlineA--boxA__pictureA {
      background-color: $main__color;
      height: 100%;
      width: 30%;
      margin: 0px;
    }
    .sitetop--inlineA--boxB__textA {
      background-color: $sub__color;
      height: 100%;
      width: 70%;
      padding: 20px;
      text-align: left;
      overflow-wrap:  break-word;
      font-size: 22px;
      // .sss{
      //   // white-space: pre-line;
      // }
    }
  }

  .sitetop--inlineB {
    height: 33.33%;
    width: 100%;
    display: flex;
    .sitetop--inlineB--boxA__pictureA {
      height: 100%;
      width: 70%;
      background-color: $base__color;
    }
    .sitetop--inlineB--boxB__textA {
      height: 100%;
      width: 30%;
      background-color: $accent__color;
    }
  }

  .sitetop--inlineC__pictureA {
    height: 33.33%;
    width: 100%;
    background-color: $sub__color;
  }
}

// .page__textA {
//   @include page__textA;
// }

// .page__textS {
//   @include page__textS;
// }


// <p>
// This Packege is <b>fullstack</b> Web development <b>environment</b> named "<b>STGprd</b>".<br />
// "<b>STGprd</b>" is made by Golang, PostgreSQL, React, TypeScript, Sass & Docker.<br />
// If you want to use this packege, please access "<b>https://github.com/tatsuhidehirakawa/myportfolio_k</b>".
// </p>