@import "../../Pager.scss";
// @import "./A_Button_a.scss";

// This is command to make a templete.
@mixin templatization {
  border-radius: 10px;
  background-color: #b2b2b2;
  opacity: 0.3;
}

.header__text {
  @include header__text;
}

// .header__text {
//   @include header__text;
// }

.modal_general {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 700px;
  height: 570px;
  padding-bottom: 30px;
  margin: auto;
  border-radius: 18px;
  //新規導入すりガラスエフェクト！！！
  background-color: rgba(255,255,255,0.4);
  backdrop-filter:blur(8px);
}

.upper_notes {
  // @include templatization;
  margin: 70px 30px 38px 30px;
  padding: 15px 5px 15px 5px;
  color: #1b1b1b;
  font-size: 23px;
  text-shadow: 3px 4px 3px rgb(143, 143, 143);

}

.loginPass{
  padding: 6px 6px;
  margin: 0px 0px 0px 0px;
  width: 220px;
}

@mixin signIntxt {
  width: 1900px;
  margin: 10px 10px 10px 10px;
  width: 350px;
  font-size: 18px;
  border-radius: 28px;
}

.signInid {
  @include signIntxt;
  padding: 11px 20px 10px 30px;
}

.signInpass {
  @include signIntxt;
  padding: 17px 20px 10px 30px;
  // font-size: 20px;
}

.A_BUTTON_A_pos {
  margin: 45px 350px 50px 290px;
}

.lower_notes {
  // @include templatization;
  margin: 10px 30px 13px 30px;
  padding: 6px 6px 6px 6px;
  color: #000;
  font-weight: 245;
  font-size: 21px;
  line-height: 33px;
  text-shadow: 3px 4px 3px rgb(143, 143, 143);
  u {
    cursor: pointer;
  }
}
