@import "../../Pager.scss";

// --- Common decarement -----------------------------------------------
@mixin common_text_sitetop {
  font-size: 21px;
  color: black;
  filter: drop-shadow(3px 3px 9px rgba(0,0,0,0.6));
  text-align: left;
  padding: 12px 0px 8px 33px;
  width: 100vh;
  z-index: 3;
}

@mixin common_tile_sitetop {
  display: flex;
  filter: drop-shadow(3px 3px 9px rgba(0,0,0,0.6));
  // width: 100vh;
  // height: 350px;
  // margin: 47px 10px 10px 50px;
  // text-align: left;
  // font-size: 50px;


  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  // height: 257px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

// --- Common decaremen ------------------------------------------------
.sitetop--outline {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
}

.sitetop--inline {
  display: flex;
  flex-direction: column;
  z-index: 9;
  transform: translate(0%, -66%);
  -webkit-transform: translate(0%, -66%);
  -ms-transform: translate(0%, -66%);
}

.sitetop--inlineA--text {
  filter: drop-shadow(3px 3px 9px rgba(0,0,0,0.6));
  width: 100%;
  height: 245px;
  margin: 47px 10px 10px 50px;
  text-align: left;
  font-size: 50px;
}

.sitetop--inlineB--text {
  @include common_text_sitetop
}

.sitetop--inlineC--tiling {
  @include common_tile_sitetop
}

.sitetop--inlineD--text {
  @include common_text_sitetop
}

.sitetop--inlineE--tiling {
  @include common_tile_sitetop
}

.sitetop--inlineF--text {
  @include common_text_sitetop
}

.sitetop--inlineG--tiling {
  @include common_tile_sitetop
}

.sitetop--inlineH--text {
  @include common_text_sitetop
}

.sitetop--inlineI--tiling {
  @include common_tile_sitetop
}
