// @import "./Management.scss";    // 全体管理用scssファイルを読み込み


/* ヘッダーにおける表示位置調節用--------------- */
.loginText {
  float: right;
  padding: 0px 0px 5px 10px ;
  margin: 15px 13px 5px 0px;
  cursor: pointer;
}

/* 展開したモーダル用------------------------- */
.modalBackground {
  @include std_modal_bkgnd;
  //スタンダード・モーダル・バックグラウンド（背景をグレーアウト）
}

/*
@include std_modal_body {
//スタンダード・モーダル・ボディ（展開するモーダルの基本デザイン）
}
*/

.modal-inner {
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  width: 380px;
  padding-bottom: 30px;
  margin: auto;
  background-color: rgba(255,255,255,0.8);     //新規導入すりガラスエフェクト！！！
  backdrop-filter:blur(8px);                     //新規導入すりガラスエフェクト！！！
  border-radius: 8px;
}

.modal-header {
  height: 0px;
  width: 100%;
  margin-bottom: 49px;
  border-radius: 8px 8px 0 0;
//  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/react/modal_bar.svg");
}

.modal-introduction p {
  color: #5876a3;
  width: 384px;
  line-height: 32px;
  text-align: left;
  margin: 36px auto 40px;
}

.Loginaaa{
  padding: 0px 0px 13px 0px;
  margin: 0px 0px 0px 0px;
}

.mailAndpass {
  padding: 6px 6px;
  margin: 0px 0px 10px 0px;
  width: 220px;
}

.loginPass{
  padding: 6px 6px;
  margin: 0px 0px 0px 0px;
  width: 220px;
}

.forgetPussText {
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
  u {
    cursor: pointer;
  }
}

.Pravicy{
  padding: 0px 0px 0px 0px;
  margin: 10px 40px 0px 45px;
  u {
    cursor: pointer;
  }
}

.piyopiyo {
  padding: 0px 0px 0px 0px;
  margin: 12px 0px 0px 0px;
  u {
    cursor: pointer;
  }
}

.modal-tx-btn {
  @include tx-btn ;
  margin:20px 0px 0px 153px ; //ログインボタンの位置合わせ。もっと綺麗に描けない？
  border-radius: 22px;
}
